.eb_square{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    border: 1px solid #0A4067;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eb_square_sponsor_base{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    border: 3px solid #3490dc;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.eb_square_sponsor_medium{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    border: 3px solid #38c172;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.eb_square_sponsor_pro{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    border: 3px solid #efb810;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eb_btn{
    background-color: #fff;
    color: #0A4067;
    &:hover{
        opacity: 0.9;
        color: white;
    }
}

.my-radius-bg {
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #0A4067;
    color: #fff;
}

.lightBg {
    background-color: #0A4067;
}

.confirmSponsorship {
    padding: 10px;
    background-color: lightgreen;
    border-radius: 15px;
}
